/* General */

header {
    padding-bottom: 10px
}


#header-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  background-color: #FFFFFF;
  color: DimGray;
  text-align: center;
  padding: 20 0 5 0;

}

main{
    margin: 0 10%;
    align-content: center;
}

footer{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    background-color: #FFFFFF;
    color:gainsboro;
    text-align: center;
    padding: 20 0 20 0;    
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    
}
#pricing-text{
    text-align: justify;
        margin: 0 0 20 0;
}

a{
    text-decoration: none
}

a:hover{
    color: black;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    background-color: #FFFFFF;
    color: DimGray;
    text-align: center;
    margin: 0 0 0 0;
     
} 

.form-container{
    text-align: center;
    padding: 10 15%;

}

.page-container{
    width: 100%;
    text-align: left;
    padding: 0;

}
#pricing-image{
    width: 100%
        
}
label {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding-top: 5;
    font-family: 'Josefin Sans', sans-serif;
    
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: black;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 0px;
    margin: 20px 0px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

input{
    width: 100%;
    background-color: gainsboro;
    outline: none;
    border: none;    
}

input[type=text]:focus {
  border: 3px solid #555;
}

#message {
    height: 100px;
    width: 100%;
    text-align: left;
    background: gainsboro;
    border: none;
    
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #FFFFFF; /* white background color */
  text-align: center;
  padding-bottom: 10px;
    padding-top: 10px;
}

/* Style the navigation bar links */
.navbar-links {
  display: inline;
  color: DimGray; /* White text color */
  padding: 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.navbar-links:hover {
    color: black
}


.gallery {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    text-align: center

}

.gallery-img {
    max-width: 100%
}


@media (min-width: 600px) {
    .gallery { grid-template-columns: repeat(2, 1fr);
        padding-left: 100;
        padding-right: 100
    
    }
    .gallery-img {
        max-width: 100%
    
    }

}

@media (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); 
    }
    .gallery-img {
        max-width: 100%
    }

}


