/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #FFFFFF; /* white background color */
}

/* Style the navigation bar links */
.navbar a {
  float: center;
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: DimGray; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.header {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFFFFF;
  color: DimGray;
  text-align: center;
}
